@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: Lato, sans-serif;
}

input[type=text]{
  height: 1em;
  border-radius: 5%;
  padding: 1em;
  margin-bottom: 1em;
}

.container {
  min-height: 100vh;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #7b9fe2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
.card {
  box-shadow: 3px 6px 15px -4px rgba(217, 192, 192, 0.75);
  -webkit-box-shadow: 3px 6px 15px -4px rgba(217, 192, 192, 0.75);
  -moz-box-shadow: 3px 6px 15px -4px rgba(217, 192, 192, 0.75);
}
.card-content {
  background: rgb(255, 255, 255);

  margin: 0;
  padding: 2rem;
}
.card-img > img,
.card-img {
  width: auto;
  height: 144px;
  
  background-color: rgb(232 242 242);
  text-align: center;
}

a {
  text-decoration: none;
}
.info{
  font-size: 0.9em;
  list-style-type:none
}
.content-footer {
  display: grid;
  grid-auto-flow: column;
  margin:1rem 1rem;
  
  text-align: center;
  font-size: 1em;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-body{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.modal-footer{
  
  color:seashell;
  display: flex;
  flex-direction: row-reverse;
}
.cancel{
  background-color: rgba(223, 223, 236, 0.664);
  height: 3em;
  color: black;
  padding: 0.5em 1em;
  align-items: center;
  margin-right: 1em;
  border-radius: 10%;
}
.save{
  background-color: rgb(96, 107, 207);
  height: 3em;
  color: white;
  padding: 0.5em 1em;
  align-items: center;
  
  border-radius: 10%;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  margin: 0em 1em;
  
}



/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem; 
    gap: 1rem;
  }
  .modal-container {
    width: 80%;
    clear: both;
  }
  
  .modal-container input {
    width: 100%;
    clear: both;
  }
   
}

.heart {
	color:red;
}


@media screen and (min-width: 1096px) {
  .card-group {
    display: grid;
   
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1280px;
  }
  .modal-content {
    max-width: 60%;
    margin: auto;
    
  }
  .modal-container{
    margin: 0em 4em;
  }
  form  { display: table;      }
.row     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; 
margin-left:0.5rem}
 
}
